<footer class="footer">
  <div class="left-side">
    <ul>
      <li>
        Terms and Condition
      </li>
      <li>
        Privacy Policy
      </li>
      <li>
        Contact Us
      </li>
    </ul>
  </div>
  <div class="right-side">
    <ul>
      <li>
        Follow Us
      </li>
      <li>
        <img src="../../../../../assets/images/facebook.png" alt="facebook">
      </li>
      <li>
        <img src="../../../../../assets/images/twitter.png" alt="twitter">
      </li>
    </ul>
  </div>
</footer>
