.footer {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;

  ul {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
    font-size: 12px;

    li {
      line-height: 25px;
      cursor: pointer;
    }
  }

  .left-side,
  .right-side {
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 3px 1px;
    background-repeat: repeat-x;
  }

  .left-side {
    width: 50%;

    li {
      padding-right: 10px;
    }
  }

  .right-side {
    width: 50%;
    text-align: right;

    li {
      padding-left: 10px;
    }
  }
}
